<section class="container">
  <h3 class="h3-style">DATA</h3>

  <table class="table table-dark table-borderless table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">USER ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">BODY</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{data.id}}</td>
        <td>{{data.userId}}</td>
        <td>{{data.title}}</td>
        <td>{{data.body}}</td>
      </tr>
    </tbody>
  </table>
</section>