//for the body
$backgroud_color: #353535;
$display: flex;
$flex-direction: column;
$align-tems: center;

//for the car
$width: 150px;
$margin-right: 180px;
$margin-top: -500px;
$position: relative;
$top: 0;
$transition-effect: ease;
$transition-time: 1s;
$transition-direction: top;

//for hover
$hover-top-direction: -350px;
$cursor: pointer;
