<br><br>
<section class="container">
  <form action="/addData" method="POST" class="form-group">
    <input type="text" name="id" id="id" placeholder="ADD ID" class="form-control">
    <br><br>
    <input type="text" name="postId" id="uid" id="title" placeholder="ADD Post ID" class="form-control">
    <br><br>
    <input type="text" name="name" id="uid" id="title" placeholder="ADD Name" class="form-control">
    <br><br>
    <input type="text" name="email" id="title" placeholder="ADD Title" class="form-control">
    <br><br>
    <input type="text" name="body" id="body" placeholder="ADD Body" class="form-control">
    <br><br>
    <input type="submit" id="btn-add" value="ADD" class="btn btn-reverse btn-success btn-lg btn-block">
  </form>
</section>