<section class="container">
  <form action="/add" method="post">
    <input type="text" placeholder="ADD ID">
    <input type="text" placeholder="ADD USer ID">
    <input type="text" placeholder="ADD Title">
    <input type="text" placeholder="ADD Body">
    <input type="button" value="ADD">
  </form>
</section>